*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
    background-color: #d161ff;
    height: 100vh;
    width: 100%;
}

.container {
    border: 2px solid white;
    margin: 120px auto;
    min-width: 450px;
    width: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* background: rgba(29, 82, 73, 0.651);
    border-radius: 5px;
    padding: 30px; */
}

h1 {
    font-family: cursive;
    margin: 12px 0;
}

.element {
    position: relative;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
    /* margin: 12px 0; */
    /* width: 100%;
    height: 100%; */
}

.element input{
    padding: 12px;
    width: 70%;
    width: 70%;
    height: 45px;
    border: 2px solid #d1d3d4;
    /* margin: 20px 0; */
    font-size: 20px;
    font-family: fantasy;
    font-weight: 500;
    position: relative;
    color: #111;
    border-radius: 5px;
}

/* input{
    /* width: 100%;
    height: 100%; */
    /* border: 1px solid black;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
} */ 

.element input:focus {
    outline: none;
    border-color: #8052ec;
   
}

.element button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    font-size: 16px;
    font-family: 'poppins' sans-serif;
    font-weight: 500;
    background-color: #8052ec;
    border: none;
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
}

.element-list {
    /* background-color: #fff; */
    padding: 20px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
    cursor: pointer;
}

#list {
   padding: 5px 10px;
   margin-top: 10px;
   align-items: center;
   border-bottom: 2px solid #d1d3d4;
   cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 3px;
    height: 45px;
    width: 100%;
    cursor: pointer;
    overflow-y: auto;
    word-wrap: break-word;
}

.btn{
    display: flex;
}
.delBtn {
    height: 100%;
    padding: 7px 14px;
    background-color: #8052ec;
    border: none;
    justify-content: right;
    border-radius: 3px;
    color: #fafafa;
}

.checked{
    text-decoration: line-through;
    background-color: #e0e0e0;
}